.btn {
    background-color: pink;
    width: 200px;
    margin-left: 10px;
}

.jumbotron {
    align-content: center;
    background-color: cornflowerblue;
}

#main {
    margin-left: 0px;
}

#finalID {
    font-size: xx-large;
    margin-left: 15px;
}

#qzBtn {
    background-color:pink;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

#highScores {
    margin-left: 2%;
    cursor: pointer;
    color: white;
}

#time {
    margin-left: 75%;
}

ul {
    list-style-type: none;
    margin-left: -39px;
}

.backgroundImage {
	background-image: url("https://images.pexels.com/photos/1089440/pexels-photo-1089440.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	min-height: 100VH;
    z-index: -1;
}
